# This is an example input file

# parallelisation: Be carefull - Atm I would only use one thread for Eigen. It 
#                                usually is much slower than simple omp!
nb_omp_threads = {{ cpus_per_task }}
nb_eigen_threads = 1

# lattice parameters:
Lt = {{ lattice_time }}
Lx = {{ lattice_space }} 
Ly = {{ lattice_space }} 
Lz = {{ lattice_space }}

# configuration handling: 
start_config = {{ config_start }}
end_config = {{ config_end }}
delta_config = {{ config_step }}

# eigenvector handling: path not neede right now
number_of_eigen_vec = {{ ev_count }}
{% if ev_path != '' %}
name_eigenvectors = eigenvectors
path_eigenvectors = {{ ev_path }}
{%- endif -%}
{% if vdv_path != None %}
handling_vdaggerv = liuming
{%- endif -%}
{% if vdv_path != '' %}
path_vdaggerv = {{ vdv_path }}
{% endif %}

# output path
output_path = {{ outdir }}

# quarks to be used - The file at the and is the location of the perambulators.
[quarks]
{% for quark in quarks -%}
quark = {{ quark }}
{% endfor -%}

# operators to be used
[operator_lists]
{{ operator_list }}

# all correlation functions which will be computed
[correlator_lists]
{{ correlator_list }}
