#!/bin/bash
#SBATCH -J {{ jobname }}
#SBATCH --time=12:00:00
#SBATCH --nodes=1
#SBATCH --cpus-per-task={{ cpus_per_task }}
{% if email_address != '' %}
#SBATCH --mail-user={{ email_address }}
#SBATCH --mail-type=FAIL
{% endif %}
#SBATCH --output={{ config_path }}/{{ jobname }}.out
#SBATCH --error={{ config_path }}/{{ jobname }}.err

set -e
set -u

module load defaults
module load Intel
module load Boost
module load Eigen
module load HDF5

export OMP_NUM_THREADS=${SLURM_CPUS_PER_TASK}
export KMP_AFFINITY=balanced,verbose

cd {{ rundir }}

date

{% for config_id in config_ids_for_one_job %}
srun -N1 -n1 -c{{ cpus_per_task }} --exclusive \
        ../contract -i {{ config_path }} \
        --start_config {{ config_id }} --end_config {{ config_id }} &
{% endfor %}

wait

date
