*.cpp.orig
*.d
*.dat
*.o
*.pdf
*.srctrlbm
*.srctrldb
*.srctrlprj
*.swo
*.swp
.gdb_history
doxygen/html
doxygen/latex
tests/integration-L4/correlators/
tests/integration-L4/MovingFrameMomentum/
Testing/Temporary
tests/Testing/Temporary

