*.cpp.orig
*.d
*.dat
*.o
*.pdf
*.srctrlbm
*.srctrldb
*.srctrlprj
*.swo
*.swp
.gdb_history
doxygen/html
doxygen/latex
integration-test-L4/
integration-test-L4/correlators/
integration-test-L4/MovingFrameMomentum/
sLapH-contractions.creator.user
