digraph {
  graph [fontname="Noto Sans"];
  node [fontname="Noto Sans", shape=box, style=filled, fontcolor=white];
  edge [fontname="Noto Sans"]

  {% for v in vertices %}
  {{ v.id }} [label="{{ v.function }}\n{{ v.info }}\n{{ '%.3g'|format(v.cumtime) }}\n({{ '%.3g'|format(v.selftime) }})\n{{ v.calls }}×", fillcolor="{{ v.hue }} 1.0 0.6"];
  {% endfor %}

  {% for e in edges %}
  {{ e.from_id }} -> {{ e.to_id }} [label="{{ '%.3g'|format(e.cumtime) }}\n{{ e.calls }}×"];
  {% endfor %}
}
